body{background-color:#fff ;color:rgba(22, 34, 75, 1);}
.frame1{border: solid white 1px ; border-radius:10px;padding:10px;}
.theme{background-color:rgba(64, 5, 5, 1);}
.themebtn{background-color:rgba(255, 255, 255, 0);border:solid white 2px;color:white;width:45%;}
.themebtnb{background-color:rgba(255, 255, 255, 0);border:solid white 2px;color:white;}
.themebtn:hover{background-color:rgba(255, 255, 255, 1);color:blue;}
.themebtnb:hover{background-color:rgba(255, 255, 255, 1);color:blue;}
.boxx{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.shadows{text-shadow:2px 2px 2px #000000;}
.menuz{background-color:#114aa1;color:white;border:solid blue 1px; border-radius:15px;padding-top:50px;}
.left{width:50%;padding-left:5px;}.right{width:50%;padding-left:5px;padding-right:5px;}

